In [1]:
# Import necessary libraries 
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns 

pd.set_option("display.max_columns" , None)

In [2]:
# Import the datasets 
calendar_df = pd.read_csv('Data/calendar.csv')
listings_df = pd.read_csv('Data/listings.csv')
reviews_df = pd.read_csv('Data/reviews.csv')

## Explatory Data Analysis

## 1. Calendar Dataset

In [3]:
calendar_df.head(10)

   listing_id        date available   price
0      241032  2016-01-04         t  $85.00
1      241032  2016-01-05         t  $85.00
2      241032  2016-01-06         f     NaN
3      241032  2016-01-07         f     NaN
4      241032  2016-01-08         f     NaN
5      241032  2016-01-09         f     NaN
6      241032  2016-01-10         f     NaN
7      241032  2016-01-11         f     NaN
8      241032  2016-01-12         f     NaN
9      241032  2016-01-13         t  $85.00

In [4]:
calendar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1393570 entries, 0 to 1393569
Data columns (total 4 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   listing_id  1393570 non-null  int64
 1   date        1393570 non-null  object
 2   available   1393570 non-null  object
 3   price       934542 non-null   object
dtypes: int64(1), object(3)
memory usage: 42.5+ MB

In [5]:
# Calendar dataframe has null values for the price column. 
calendar_df.isnull().sum()

listing_id         0
date               0
available          0
price         459028
dtype: int64

In [6]:
# Data shows the daily availability of each listing from 2016 to 2017 
calendar_df['listing_id'].value_counts()

6752031     365
7404370     365
1259305     365
4672934     365
10310373    365
           ...
9999759     365
9048029     365
8441477     365
7984550     365
9484823     365
Name: listing_id, Length: 3818, dtype: int64

In [7]:
print('There are', calendar_df['listing_id'].nunique(), 'listings in calendar dataset.')

There are 3818 listings in calendar dataset.

## 2. Listings Dataset

In [8]:
listings_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3818 entries, 0 to 3817
Data columns (total 92 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                3818 non-null   int64
 1   listing_url                       3818 non-null   object
 2   scrape_id                         3818 non-null   int64
 3   last_scraped                      3818 non-null   object
 4   name                              3818 non-null   object
 5   summary                           3641 non-null   object
 6   space                             3249 non-null   object
 7   description                       3818 non-null   object
 8   experiences_offered               3818 non-null   object
 9   neighborhood_overview             2786 non-null   object
 10  notes                             2212 non-null   object
 11  transit                           2884 non-null   object
 12  thumbnail_url                     3498 non-null   object
 13  medium_url                        3498 non-null   object
 14  picture_url                       3818 non-null   object
 15  xl_picture_url                    3498 non-null   object
 16  host_id                           3818 non-null   int64
 17  host_url                          3818 non-null   object
 18  host_name                         3816 non-null   object
 19  host_since                        3816 non-null   object
 20  host_location                     3810 non-null   object
 21  host_about                        2959 non-null   object
 22  host_response_time                3295 non-null   object
 23  host_response_rate                3295 non-null   object
 24  host_acceptance_rate              3045 non-null   object
 25  host_is_superhost                 3816 non-null   object
 26  host_thumbnail_url                3816 non-null   object
 27  host_picture_url                  3816 non-null   object
 28  host_neighbourhood                3518 non-null   object
 29  host_listings_count               3816 non-null   float64
 30  host_total_listings_count         3816 non-null   float64
 31  host_verifications                3818 non-null   object
 32  host_has_profile_pic              3816 non-null   object
 33  host_identity_verified            3816 non-null   object
 34  street                            3818 non-null   object
 35  neighbourhood                     3402 non-null   object
 36  neighbourhood_cleansed            3818 non-null   object
 37  neighbourhood_group_cleansed      3818 non-null   object
 38  city                              3818 non-null   object
 39  state                             3818 non-null   object
 40  zipcode                           3811 non-null   object
 41  market                            3818 non-null   object
 42  smart_location                    3818 non-null   object
 43  country_code                      3818 non-null   object
 44  country                           3818 non-null   object
 45  latitude                          3818 non-null   float64
 46  longitude                         3818 non-null   float64
 47  is_location_exact                 3818 non-null   object
 48  property_type                     3817 non-null   object
 49  room_type                         3818 non-null   object
 50  accommodates                      3818 non-null   int64
 51  bathrooms                         3802 non-null   float64
 52  bedrooms                          3812 non-null   float64
 53  beds                              3817 non-null   float64
 54  bed_type                          3818 non-null   object
 55  amenities                         3818 non-null   object
 56  square_feet                       97 non-null     float64
 57  price                             3818 non-null   object
 58  weekly_price                      2009 non-null   object
 59  monthly_price                     1517 non-null   object
 60  security_deposit                  1866 non-null   object
 61  cleaning_fee                      2788 non-null   object
 62  guests_included                   3818 non-null   int64
 63  extra_people                      3818 non-null   object
 64  minimum_nights                    3818 non-null   int64
 65  maximum_nights                    3818 non-null   int64
 66  calendar_updated                  3818 non-null   object
 67  has_availability                  3818 non-null   object
 68  availability_30                   3818 non-null   int64
 69  availability_60                   3818 non-null   int64
 70  availability_90                   3818 non-null   int64
 71  availability_365                  3818 non-null   int64
 72  calendar_last_scraped             3818 non-null   object
 73  number_of_reviews                 3818 non-null   int64
 74  first_review                      3191 non-null   object
 75  last_review                       3191 non-null   object
 76  review_scores_rating              3171 non-null   float64
 77  review_scores_accuracy            3160 non-null   float64
 78  review_scores_cleanliness         3165 non-null   float64
 79  review_scores_checkin             3160 non-null   float64
 80  review_scores_communication       3167 non-null   float64
 81  review_scores_location            3163 non-null   float64
 82  review_scores_value               3162 non-null   float64
 83  requires_license                  3818 non-null   object
 84  license                           0 non-null      float64
 85  jurisdiction_names                3818 non-null   object
 86  instant_bookable                  3818 non-null   object
 87  cancellation_policy               3818 non-null   object
 88  require_guest_profile_picture     3818 non-null   object
 89  require_guest_phone_verification  3818 non-null   object
 90  calculated_host_listings_count    3818 non-null   int64
 91  reviews_per_month                 3191 non-null   float64
dtypes: float64(17), int64(13), object(62)
memory usage: 2.7+ MB

In [9]:
listings_df.isnull().sum()

id                                    0
listing_url                           0
scrape_id                             0
last_scraped                          0
name                                  0
                                   ...
cancellation_policy                   0
require_guest_profile_picture         0
require_guest_phone_verification      0
calculated_host_listings_count        0
reviews_per_month                   627
Length: 92, dtype: int64

In [10]:
def null_columns(df):
    ''' 
    This function identifies columns that have missing values in the dataframe
    returns a new dataframe of columns as index with the number of missing values and their percentages
    '''
    
    null_cols = df.columns[df.isna().sum()>0]
    n_null_val = df[null_cols].isna().sum().sort_values(ascending = False)
    perc_null_val = (df[null_cols].isna().sum()/df.shape[0]*100).sort_values(ascending = False)
    null_df = pd.DataFrame(n_null_val, columns=['# of Null Values'])
    null_df['% of Null Values'] = perc_null_val
    print(null_df.shape[0], 'columns have missing data.')
    return null_df

null_columns(listings_df)

45 columns have missing data.

                             # of Null Values  % of Null Values
license                                  3818        100.000000
square_feet                              3721         97.459403
monthly_price                            2301         60.267156
security_deposit                         1952         51.126244
weekly_price                             1809         47.380828
notes                                    1606         42.063908
neighborhood_overview                    1032         27.029859
cleaning_fee                             1030         26.977475
transit                                   934         24.463070
host_about                                859         22.498690
host_acceptance_rate                      773         20.246202
review_scores_accuracy                    658         17.234154
review_scores_checkin                     658         17.234154
review_scores_value                       656         17.181771
review_scores_location                    655         17.155579
review_scores_cleanliness                 653         17.103195
review_scores_communication               651         17.050812
review_scores_rating                      647         16.946045
reviews_per_month                         627         16.422211
first_review                              627         16.422211
last_review                               627         16.422211
space                                     569         14.903091
host_response_time                        523         13.698271
host_response_rate                        523         13.698271
neighbourhood                             416         10.895757
thumbnail_url                             320          8.381351
medium_url                                320          8.381351
xl_picture_url                            320          8.381351
host_neighbourhood                        300          7.857517
summary                                   177          4.635935
bathrooms                                  16          0.419068
host_location                               8          0.209534
zipcode                                     7          0.183342
bedrooms                                    6          0.157150
host_is_superhost                           2          0.052383
host_thumbnail_url                          2          0.052383
host_picture_url                            2          0.052383
host_listings_count                         2          0.052383
host_since                                  2          0.052383
host_name                                   2          0.052383
host_total_listings_count                   2          0.052383
host_has_profile_pic                        2          0.052383
host_identity_verified                      2          0.052383
property_type                               1          0.026192
beds                                        1          0.026192

In [11]:
listings_df.head()

,id,listing_url,scrape_id,last_scraped,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,thumbnail_url,medium_url,picture_url,xl_picture_url,host_id,host_url,host_name,host_since,host_location,host_about,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_thumbnail_url,host_picture_url,host_neighbourhood,host_listings_count,host_total_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,street,neighbourhood,neighbourhood_cleansed,neighbourhood_group_cleansed,city,state,zipcode,market,smart_location,country_code,country,latitude,longitude,is_location_exact,property_type,room_type,accommodates,bathrooms,bedrooms,beds,bed_type,amenities,square_feet,price,weekly_price,monthly_price,security_deposit,cleaning_fee,guests_included,extra_people,minimum_nights,maximum_nights,calendar_updated,has_availability,availability_30,availability_60,availability_90,availability_365,calendar_last_scraped,number_of_reviews,first_review,last_review,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,requires_license,license,jurisdiction_names,instant_bookable,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,241032,https://www.airbnb.com/rooms/241032,20160104002432,2016-01-04,Stylish Queen Anne Apartment,NaN,Make your self at home in this charming one-be...,Make your self at home in this charming one-be...,none,NaN,NaN,NaN,NaN,NaN,https://a1.muscache.com/ac/pictures/67560560/c...,NaN,956883,https://www.airbnb.com/users/show/956883,Maija,2011-08-11,"Seattle, Washington, United States","I am an artist, interior designer, and run a s...",within a few hours,96%,100%,f,https://a0.muscache.com/ac/users/956883/profil...,https://a0.muscache.com/ac/users/956883/profil...,Queen Anne,3.0,3.0,"['email', 'phone', 'reviews', 'kba']",t,t,"Gilman Dr W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States,47.636289,-122.371025,t,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$85.00,NaN,NaN,NaN,NaN,2,$5.00,1,365,4 weeks ago,t,14,41,71,346,2016-01-04,207,2011-11-01,2016-01-02,95.0,10.0,10.0,10.0,10.0,9.0,10.0,f,NaN,WASHINGTON,f,moderate,f,f,2,4.07
1,953595,https://www.airbnb.com/rooms/953595,20160104002432,2016-01-04,Bright & Airy Queen Anne Apartment,Chemically sensitive? We've removed the irrita...,"Beautiful, hypoallergenic apartment in an extr...",Chemically sensitive? We've removed the irrita...,none,"Queen Anne is a wonderful, truly functional vi...",What's up with the free pillows? Our home was...,"Convenient bus stops are just down the block, ...",https://a0.muscache.com/ac/pictures/14409893/f...,https://a0.muscache.com/im/pictures/14409893/f...,https://a0.muscache.com/ac/pictures/14409893/f...,https://a0.muscache.com/ac/pictures/14409893/f...,5177328,https://www.airbnb.com/users/show/5177328,Andrea,2013-02-21,"Seattle, Washington, United States",Living east coast/left coast/overseas. Time i...,within an hour,98%,100%,t,https://a0.muscache.com/ac/users/5177328/profi...,https://a0.muscache.com/ac/users/5177328/profi...,Queen Anne,6.0,6.0,"['email', 'phone', 'facebook', 'linkedin', 're...",t,t,"7th Avenue West, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States,47.639123,-122.365666,t,Apartment,Entire home/apt,4,1.0,1.0,1.0,Real Bed,"{TV,Internet,""Wireless Internet"",Kitchen,""Free...",NaN,$150.00,"$1,000.00","$3,000.00",$100.00,$40.00,1,$0.00,2,90,today,t,13,13,16,291,2016-01-04,43,2013-08-19,2015-12-29,96.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,WASHINGTON,f,strict,t,t,6,1.48
2,3308979,https://www.airbnb.com/rooms/3308979,20160104002432,2016-01-04,New Modern House-Amazing water view,New modern house built in 2013. Spectacular s...,"Our house is modern, light and fresh with a wa...",New modern house built in 2013. Spectacular s...,none,Upper Queen Anne is a charming neighborhood fu...,Our house is located just 5 short blocks to To...,A bus stop is just 2 blocks away. Easy bus a...,NaN,NaN,https://a2.muscache.com/ac/pictures/b4324e0f-a...,NaN,16708587,https://www.airbnb.com/users/show/16708587,Jill,2014-06-12,"Seattle, Washington, United States",i love living in Seattle. i grew up in the mi...,within a few hours,67%,100%,f,https://a1.muscache.com/ac/users/16708587/prof...,https://a1.muscache.com/ac/users/16708587/prof...,Queen Anne,2.0,2.0,"['email', 'phone', 'google', 'reviews', 'jumio']",t,t,"West Lee Street, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States,47.629724,-122.369483,t,House,Entire home/apt,11,4.5,5.0,7.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",""A...",NaN,$975.00,NaN,NaN,"$1,000.00",$300.00,10,$25.00,4,30,5 weeks ago,t,1,6,17,220,2016-01-04,20,2014-07-30,2015-09-03,97.0,10.0,10.0,10.0,10.0,10.0,10.0,f,NaN,WASHINGTON,f,strict,f,f,2,1.15
3,7421966,https://www.airbnb.com/rooms/7421966,20160104002432,2016-01-04,Queen Anne Chateau,A charming apartment that sits atop Queen Anne...,NaN,A charming apartment that sits atop Queen Anne...,none,NaN,NaN,NaN,NaN,NaN,https://a0.muscache.com/ac/pictures/94146944/6...,NaN,9851441,https://www.airbnb.com/users/show/9851441,Emily,2013-11-06,"Seattle, Washington, United States",NaN,NaN,NaN,NaN,f,https://a2.muscache.com/ac/users/9851441/profi...,https://a2.muscache.com/ac/users/9851441/profi...,Queen Anne,1.0,1.0,"['email', 'phone', 'facebook', 'reviews', 'jum...",t,t,"8th Avenue West, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States,47.638473,-122.369279,t,Apartment,Entire home/apt,3,1.0,0.0,2.0,Real Bed,"{Internet,""Wireless Internet"",Kitchen,""Indoor ...",NaN,$100.00,$650.00,"$2,300.00",NaN,NaN,1,$0.00,1,1125,6 months ago,t,0,0,0,143,2016-01-04,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,f,NaN,WASHINGTON,f,flexible,f,f,1,NaN
4,278830,https://www.airbnb.com/rooms/278830,20160104002432,2016-01-04,Charming craftsman 3 bdm house,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,Cozy family craftman house in beautiful neighb...,none,We are in the beautiful neighborhood of Queen ...,Belltown,The nearest public transit bus (D Line) is 2 b...,NaN,NaN,https://a1.muscache.com/ac/pictures/6120468/b0...,NaN,1452570,https://www.airbnb.com/users/show/1452570,Emily,2011-11-29,"Seattle, Washington, United States","Hi, I live in Seattle, Washington but I'm orig...",within an hour,100%,NaN,f,https://a0.muscache.com/ac/users/1452570/profi...,https://a0.muscache.com/ac/users/1452570/profi...,Queen Anne,2.0,2.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,"14th Ave W, Seattle, WA 98119, United States",Queen Anne,West Queen Anne,Queen Anne,Seattle,WA,98119,Seattle,"Seattle, WA",US,United States,47.632918,-122.372471,t,House,Entire home/apt,6,2.0,3.0,3.0,Real Bed,"{TV,""Cable TV"",Internet,""Wireless Internet"",Ki...",NaN,$450.00,NaN,NaN,$700.00,$125.00,6,$15.00,1,1125,7 weeks ago,t,30,60,90,365,2016-01-04,38,2012-07-10,2015-10-24,92.0,9.0,9.0,10.0,10.0,9.0,9.0,f,NaN,WASHINGTON,f,strict,f,f,1,0.89

In [59]:
listings_df['cancellation_policy'].value_counts()

strict      1417
moderate    1251
flexible    1150
Name: cancellation_policy, dtype: int64

In [66]:
listings_df['cancellation_policy'].value_counts().keys().tolist()

['strict', 'moderate', 'flexible']

In [60]:
listings_df['cancellation_policy'].isna().sum()

0

In [54]:
listings_df['bedrooms'].value_counts()

1.0    2417
2.0     640
0.0     372
3.0     283
4.0      69
5.0      24
6.0       6
7.0       1
Name: bedrooms, dtype: int64

In [55]:
listings_df['bedrooms'].isna().sum()

6

In [52]:
listings_df['accommodates'].value_counts()

2     1627
4      785
3      398
6      332
1      256
5      184
8      119
7       52
10      25
12      15
9       13
16       4
11       3
14       3
15       2
Name: accommodates, dtype: int64

In [53]:
listings_df['accommodates'].isna().sum()

0

In [50]:
listings_df['room_type'].value_counts()

Entire home/apt    2541
Private room       1160
Shared room         117
Name: room_type, dtype: int64

In [51]:
listings_df['room_type'].isna().sum()

0

In [48]:
listings_df['property_type'].value_counts()

House              1733
Apartment          1708
Townhouse           118
Condominium          91
Loft                 40
Bed & Breakfast      37
Other                22
Cabin                21
Camper/RV            13
Bungalow             13
Boat                  8
Tent                  5
Treehouse             3
Chalet                2
Dorm                  2
Yurt                  1
Name: property_type, dtype: int64

In [49]:
listings_df['property_type'].isna().sum()

1

In [44]:
listings_df['neighbourhood_group_cleansed'].value_counts()

Other neighborhoods    794
Capitol Hill           567
Downtown               530
Central Area           369
Queen Anne             295
Ballard                230
West Seattle           203
Rainier Valley         159
University District    122
Beacon Hill            118
Cascade                 89
Northgate               80
Delridge                79
Lake City               67
Magnolia                61
Seward Park             44
Interbay                11
Name: neighbourhood_group_cleansed, dtype: int64

In [46]:
listings_df['neighbourhood_group_cleansed'].isna().sum()

0

In [12]:
print('There are', listings_df['id'].nunique(), 'listings in listings dataset.')

There are 3818 listings in listings dataset.

In [13]:
# 20% of hosts are superhost 
listings_df['host_is_superhost'].value_counts(normalize = True)

f    0.796122
t    0.203878
Name: host_is_superhost, dtype: float64

## 3. Reviews Dataset

In [14]:
reviews_df.head()

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,7202016,38917982,2015-07-19,28943674,Bianca,Cute and cozy place. Perfect location to every...
1,7202016,39087409,2015-07-20,32440555,Frank,Kelly has a great room in a very central locat...
2,7202016,39820030,2015-07-26,37722850,Ian,"Very spacious apartment, and in a great neighb..."
3,7202016,40813543,2015-08-02,33671805,George,Close to Seattle Center and all it has to offe...
4,7202016,41986501,2015-08-10,34959538,Ming,Kelly was a great host and very accommodating ...

In [15]:
reviews_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 84849 entries, 0 to 84848
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   listing_id     84849 non-null  int64
 1   id             84849 non-null  int64
 2   date           84849 non-null  object
 3   reviewer_id    84849 non-null  int64
 4   reviewer_name  84849 non-null  object
 5   comments       84831 non-null  object
dtypes: int64(3), object(3)
memory usage: 3.9+ MB

In [38]:
reviews_df['reviewer_id'].value_counts().iloc[:50]

206203      67
15121499    32
5775807     19
2734499     19
29590276    18
7448809     17
8013961     16
1971733     14
41158892    14
5053141     14
12934633    13
7485789     13
1499027     13
2316057     12
13896249    12
4274504     12
10331180    12
20640343    12
3029106     11
10132034    11
4138425     11
10042488    11
244900      11
8614940     11
32419224    11
12393648    11
2315832     10
10909068    10
5136929     10
2479220     10
699829      10
2059054      9
23264547     9
1639347      9
1581651      9
3404314      9
28883377     9
18492801     9
1552491      9
786142       9
2234440      9
7693924      9
16613        9
3608716      9
1001726      9
25096058     8
19544441     8
6808127      8
5419530      8
11278939     8
Name: reviewer_id, dtype: int64

In [16]:
# There 18 missing comments.
null_columns(reviews_df)

1 columns have missing data.

          # of Null Values  % of Null Values
comments                18          0.021214

In [17]:
print('There are', reviews_df['listing_id'].nunique(), 'listings in reviews dataset.')

There are 3191 listings in reviews dataset.

## Data Cleaning & Preparation

I will join listings_df with calendar_df as their id and listing_id columns match respectively. I will be dropping the price column in calendar_df as it has null values since listings_df has prices for all the listings we will not need it. I will change available column with values of t/f in calendar_df to 0 and 1.

In [18]:
#calendar_df = calendar_df.drop('price', axis=1)
#calendar_df['available'].map('0': t, '1': f)

SyntaxError: invalid syntax (<ipython-input-18-70caced05cd9>, line 2)

In [21]:
calendar_df['date'] = pd.to_datetime(calendar_df['date'])

In [22]:
calendar_df['price'] = calendar_df['price'].fillna(method='ffill')

In [28]:
calendar_df['available'] = calendar_df['available'].map({'t': '0', 'f': '1'})

In [29]:
calendar_df.tail()

         listing_id       date available   price
1393565    10208623 2016-12-29       NaN  $87.00
1393566    10208623 2016-12-30       NaN  $87.00
1393567    10208623 2016-12-31       NaN  $87.00
1393568    10208623 2017-01-01       NaN  $87.00
1393569    10208623 2017-01-02       NaN  $87.00

In [24]:
calendar_df.isna().sum()

listing_id    0
date          0
available     0
price         0
dtype: int64

In [19]:
[listings_df[listings_df['id'] == 10208623]]

[            id                            listing_url       scrape_id  \
 3817  10208623  https://www.airbnb.com/rooms/10208623  20160104002432

      last_scraped                       name  \
 3817   2016-01-04  Large Lakefront Apartment

                                                 summary space  \
 3817  All hardwood floors, fireplace, 65" TV with Xb...   NaN

                                             description experiences_offered  \
 3817  All hardwood floors, fireplace, 65" TV with Xb...                none

      neighborhood_overview                                 notes transit  \
 3817                   NaN  Also our puppy will be boarded away.     NaN

                                           thumbnail_url  \
 3817  https://a2.muscache.com/ac/pictures/596705b3-0...

                                              medium_url  \
 3817  https://a2.muscache.com/im/pictures/596705b3-0...

                                             picture_url  \
 3817  https://a2.muscache.com/ac/pictures/596705b3-0...

                                          xl_picture_url   host_id  \
 3817  https://a2.muscache.com/ac/pictures/596705b3-0...  14703116

                                         host_url host_name  host_since  \
 3817  https://www.airbnb.com/users/show/14703116       Gil  2014-04-25

                            host_location host_about host_response_time  \
 3817  Seattle, Washington, United States        NaN       within a day

      host_response_rate host_acceptance_rate host_is_superhost  \
 3817               100%                  NaN                 f

                                      host_thumbnail_url  \
 3817  https://a2.muscache.com/ac/pictures/8864f979-b...

                                        host_picture_url host_neighbourhood  \
 3817  https://a2.muscache.com/ac/pictures/8864f979-b...         Queen Anne

       host_listings_count  host_total_listings_count  \
 3817                  1.0                        1.0

                         host_verifications host_has_profile_pic  \
 3817  ['email', 'phone', 'reviews', 'kba']                    t

      host_identity_verified  \
 3817                      t

                                                  street neighbourhood  \
 3817  Westlake Avenue North, Seattle, WA 98109, Unit...    Queen Anne

      neighbourhood_cleansed neighbourhood_group_cleansed     city state  \
 3817        East Queen Anne                   Queen Anne  Seattle    WA

      zipcode   market smart_location country_code        country   latitude  \
 3817   98109  Seattle    Seattle, WA           US  United States  47.641186

        longitude is_location_exact property_type        room_type  \
 3817 -122.342085                 t     Apartment  Entire home/apt

       accommodates  bathrooms  bedrooms  beds  bed_type  \
 3817             3        1.5       2.0   1.0  Real Bed

                                               amenities  square_feet   price  \
 3817  {TV,"Cable TV",Internet,"Wireless Internet",Ki...          NaN  $87.00

      weekly_price monthly_price security_deposit cleaning_fee  \
 3817          NaN           NaN              NaN          NaN

       guests_included extra_people  minimum_nights  maximum_nights  \
 3817                1        $0.00               1            1125

      calendar_updated has_availability  availability_30  availability_60  \
 3817       a week ago                t                7                7

       availability_90  availability_365 calendar_last_scraped  \
 3817                7                 7            2016-01-04

       number_of_reviews first_review last_review  review_scores_rating  \
 3817                  0          NaN         NaN                   NaN

       review_scores_accuracy  review_scores_cleanliness  \
 3817                     NaN                        NaN

       review_scores_checkin  review_scores_communication  \
 3817                    NaN                          NaN

       review_scores_location  review_scores_value requires_license  license  \
 3817                     NaN                  NaN                f      NaN

      jurisdiction_names instant_bookable cancellation_policy  \
 3817         WASHINGTON                f            flexible

      require_guest_profile_picture require_guest_phone_verification  \
 3817                             f                                f

       calculated_host_listings_count  reviews_per_month
 3817                               1                NaN  ]

In [20]:
calendar_df.tail(30)

         listing_id        date available price
1393540    10208623  2016-12-04         f   NaN
1393541    10208623  2016-12-05         f   NaN
1393542    10208623  2016-12-06         f   NaN
1393543    10208623  2016-12-07         f   NaN
1393544    10208623  2016-12-08         f   NaN
1393545    10208623  2016-12-09         f   NaN
1393546    10208623  2016-12-10         f   NaN
1393547    10208623  2016-12-11         f   NaN
1393548    10208623  2016-12-12         f   NaN
1393549    10208623  2016-12-13         f   NaN
1393550    10208623  2016-12-14         f   NaN
1393551    10208623  2016-12-15         f   NaN
1393552    10208623  2016-12-16         f   NaN
1393553    10208623  2016-12-17         f   NaN
1393554    10208623  2016-12-18         f   NaN
1393555    10208623  2016-12-19         f   NaN
1393556    10208623  2016-12-20         f   NaN
1393557    10208623  2016-12-21         f   NaN
1393558    10208623  2016-12-22         f   NaN
1393559    10208623  2016-12-23         f   NaN
1393560    10208623  2016-12-24         f   NaN
1393561    10208623  2016-12-25         f   NaN
1393562    10208623  2016-12-26         f   NaN
1393563    10208623  2016-12-27         f   NaN
1393564    10208623  2016-12-28         f   NaN
1393565    10208623  2016-12-29         f   NaN
1393566    10208623  2016-12-30         f   NaN
1393567    10208623  2016-12-31         f   NaN
1393568    10208623  2017-01-01         f   NaN
1393569    10208623  2017-01-02         f   NaN